In [1]:
city = ["London","Amsterdam", "Helsinki"]

In [2]:
city

['London', 'Amsterdam', 'Helsinki']

In [3]:
city[1]

'Amsterdam'

In [4]:
city[0]

'London'

In [5]:
city[-1]

'Helsinki'

In [6]:
city.append('Boston')

In [7]:
city

['London', 'Amsterdam', 'Helsinki', 'Boston']

In [8]:
city.append('London')

In [9]:
city

['London', 'Amsterdam', 'Helsinki', 'Boston', 'London']

In [10]:
city.insert(2,'Venice')

In [11]:
city

['London', 'Amsterdam', 'Venice', 'Helsinki', 'Boston', 'London']

In [12]:
city.pop()

'London'

In [13]:
city

['London', 'Amsterdam', 'Venice', 'Helsinki', 'Boston']

In [14]:
city.pop(1)

'Amsterdam'

In [15]:
cars = ('Audi','BMW','Merc')

In [23]:
cars = ('Audi','BMW','Merc','Audi')

In [24]:
cars

('Audi', 'BMW', 'Merc', 'Audi')

In [16]:
cars

('Audi', 'BMW', 'Merc')

In [19]:
cars[1]

'BMW'

In [21]:
cars[1]="KIA"

TypeError: 'tuple' object does not support item assignment

In [20]:
cars.append('BMW')

AttributeError: 'tuple' object has no attribute 'append'

In [17]:
city[1]="Sydeny"

In [18]:
city

['London', 'Sydeny', 'Helsinki', 'Boston']

In [26]:
languages = {"JavaScript","Python","Node","JavaScript"}

In [27]:
languages

{'JavaScript', 'Node', 'Python'}

In [28]:
languages.add('Ruby')

In [29]:
languages

{'JavaScript', 'Node', 'Python', 'Ruby'}

In [30]:
languages.add('Ruby')

In [31]:
languages

{'JavaScript', 'Node', 'Python', 'Ruby'}

In [32]:
languages.discard('Node')

In [33]:
languages

{'JavaScript', 'Python', 'Ruby'}

In [34]:
seta = {1,2,3}

In [35]:
setb = {"x","y","z"}

In [36]:
setc = seta.union(setb)

In [37]:
setc

{1, 2, 3, 'x', 'y', 'z'}

In [38]:
setb = {"x","y","z",3,4}

In [39]:
setc = seta.union(setb)

In [40]:
setc

{1, 2, 3, 4, 'x', 'y', 'z'}

In [41]:
country = {
    "city":"London",
    "language":"English",
    "country":"England"
}

In [42]:
country

{'city': 'London', 'language': 'English', 'country': 'England'}

In [43]:
country['city']

'London'

In [44]:
country['pop']= 388387

In [45]:
country

{'city': 'London', 'language': 'English', 'country': 'England', 'pop': 388387}

In [46]:
country['pop']=9879797897

In [47]:
country

{'city': 'London',
 'language': 'English',
 'country': 'England',
 'pop': 9879797897}